{% extends 'base.html.twig' %}

{% block title %}Questions index{% endblock %}

{% block body %}
    <h1>Questions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                {# <th>User</th> #}
                <th>Is_multiple</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.libelle }}</td>
                {# <td>{{ question.user_id }}</td> #}
                <td>{{ question.isMultiple ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('reponses_index', {'id': question.id}) }}">Voir les réponses</a>
                    <a href="{{ path('questions_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('questions_new') }}">Create new</a>
{% endblock %}
